*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(
        circle at center,
        #FFF100 0%,
        #006BFF 20%,
        #08C2FF 40%,
        #EB8317 60%,
        #F3C623 80%,
        #10375C 100%
    )
}