*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.Home-page,.add-patient,.login-form{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.Home-page{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
       ),
       url(https://png.pngtree.com/thumb_back/fw800/background/20231220/pngtree-women-doctor-on-blur-hospital-background-image_15519143.jpg);
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar{
    width:90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #37AFE1;
    position:absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;  
 }
.content p{
    font-weight: 100;
    line-height: 25px;
    margin: 20px auto;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.add-patient{
    text-align: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://png.pngtree.com/thumb_back/fh260/background/20240426/pngtree-a-doctor-examining-patient-vital-signs-in-medical-office-image_15672199.jpg");
}
.add-patient-form form{
    background-color: rgba(255,255,255,0.5);
    margin:  20px auto;
    border-radius: 5px;
    width: 500px;
    padding: 15px 15px;
}
.add-patient-form h1{
    font-size: 35px;
    color: black;
    text-shadow: 2px 2px white;
    padding-bottom: 5px;
}
.login-control{
    text-align: left;
    margin-bottom: 25px;
}
.login-control label{
    display: block;
    margin-bottom: 10px;
}
.login-control input,select{
    display: inline-block;
    border-radius: 20px;
    border:3px solid #091057;
    padding: 10px;
    font-family: inherit;
}
.add-patient-form .login-control input,select{
    width: 100%;
}
.add-patient-form button,.form button{
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    display: block;
}
.add-patient-form button{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #091057;
}
.login-form{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://png.pngtree.com/background/20230616/original/pngtree-hyatts-hospital-3d-picture-image_3642768.jpg");
}
.form form{
    background-color: rgba(0, 0, 0,0.5);
    margin:25px auto;
    border-radius: 5px;
    width: 400px;
    padding: 40px 20px;   
}
.form h1{
   text-align: center;
   color: white;
   font-size: 30px;
   padding-bottom: 30px;
   text-shadow: 2px 2px black;
}
.form a{
    text-decoration: none;
    font-family: inherit;

}
.form a:hover{
    color: #F3F8FF;
}
.form .login-control input{
    width: 85%;
}
.form p{
    color: #fff;
    text-align: center;
}
.form button{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #54473F;
}
.form .remember_cls label{
    color: #fff;
}