*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    /* background-image: radial-gradient( red , yellow , green ); By defualt ellipse*/
    /* background-image: radial-gradient(circle, red , yellow , green ); */
    background-image: radial-gradient(circle,red 20%,yellow 40%,#0D92F4 40%);
}